.SetSelector-title {
  margin-right: 5px;
  font-weight: bold;
  font-family: monospace;
}

.SetSelector-select {
  padding: 5px;
}

.SetSelector-option {
  font-size: larger;
  font-weight: bold;
  font-family: monospace;
}
